<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    
    <meta property="og:url" conent="http://www.thecurser.com/"/>
    <meta property="og:title" content="The Curser"/>
    <meta property="og:image" content="http://www.thecurser.com/ChromeExt/images/128x128_Icon.png"/>
    <meta property="og:site_name" content="The Cursor"/>
    <meta property="og:description" content="Curse YOUR frustrations AWAY this holiday with the most foul-mouthed browsing tool on the internet."/>

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "The Middleman" %></title>
    
    <%= stylesheet_link_tag "normalize", "all", "ChromeExt/stylesheets/main.css" %>
    <%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js", "social", "all", "ChromeExt/javascripts/libs/tweenlite-min.js", "ChromeExt/javascripts/main.js" %>
  </head>
  
  <body class="<%= page_classes %>">
    <div id="main">
      <%= yield %>
    </div>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-46443397-1', 'thecurser.com');
      ga('send', 'pageview');

    </script>
  </body>
</html>